<!DOCTYPE HTML>
<html>
	<head>
		<title>Abut page</title>
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>

			<div id="wrapper">

       

<h1 style="text-align:center;">About us</h1>
<h2>"No one is born a great cook, one learns by doing"</h2>
              <p style="text-align:center;">The site was established years ago in 2020.
                Due to the high cost of living that caused a lot of people at home and they had to cook, it was important for us to have people who would have a place to learn new recipes, to challenge it, to enjoy and create traditions in their home, and in a new way to share and distribute recipes that can help people
              </p>
       


				<!-- Footer -->
					<footer id="footer">
						<p>&copy; Lia's online recipes book
						
						 
					</footer>

			</div>
			<center>
				<img src="static/familydinner.jpeg" width="100" >
			</center>
			<div>
				<center>
					<a href="/signup"><button>I won't to creat a new account - SIGN UP</button></a>
				</center>
				
			</div><br><br>
			<div>
				<center>
					<a href="/signin"><button>I have an account and I want to connect it - SIGN IN</button></a>
				</center>
			</div>
			<br>
			<br>
			<div>
				<center>
					<a href="/addrecipes"><button>Add Recipe!</button></a>
				</center>
			</div>

	</body>
</html>