<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Welcome to Lia's online recipies book</title>
  <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

</body>
</html>







<!DOCTYPE HTML>
<html>
    <head>
        <title>Lia's online recipies book</title>
<body style="background-color: #e89466">
      <link rel="stylesheet" href="static/style.css">
    </head>
    
      <!-- <img src="food_background.jpg" width="1000">
 -->
        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Header -->
                    <header id="header">
                        <span class="avatar"><img src="{{image_link}}" alt="" /></span>
<center>
   <h1>Hello dear cooker!</h1>
            <br>
            <br>
            <h2>Welcome to Lia's online recipes book</h2>
            <br>
            </div>
            <br>
</center>
           
      <center>
        
        <img src="static/food_background.jpg" width="500">
      </center>
      <center>
       
      <div>
        <br>
        <br>
        <br>
            <a href="/about"><button style="color:white;width:40%" >More about us</button></a>
            </header>
          </div>

      </center>
<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    </body>
</html>